Atraccion.Microservicios.Atraccion/.vs
Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.Api/bin
Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.Api/obj
Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.Api/Atraccion.Microservicios.Atraccion.Api.csproj.user
Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.Api/Atraccion.Microservicios.Atraccion.Api.http

Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.Business/bin
Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.Business/obj

Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.DataAccess/bin
Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.DataAccess/obj

Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.DataManagement/bin
Atraccion.Microservicios.Atraccion/Atraccion.Microservicios.Atraccion.DataManagement/obj


Atraccion.Microservicios.Auth/.vs
Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.Api/bin
Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.Api/obj
Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.Api/Atraccion.Microservicios.Auth.Api.csproj.user
Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.Api/Atraccion.Microservicios.Auth.Api.http

Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.Business/bin
Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.Business/obj

Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.DataAccess/bin
Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.DataAccess/obj

Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.DataManagement/bin
Atraccion.Microservicios.Auth/Atraccion.Microservicios.Auth.DataManagement/obj

Atraccion.Microservicios.Cliente/.vs
Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.Api/bin
Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.Api/obj
Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.Api/Atraccion.Microservicios.Cliente.Api.csproj.user
Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.Api/Atraccion.Microservicios.Cliente.Api.http

Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.Business/bin
Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.Business/obj

Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.DataAccess/bin
Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.DataAccess/obj

Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.DataManagement/bin
Atraccion.Microservicios.Cliente/Atraccion.Microservicios.Cliente.DataManagement/obj

Atraccion.Microservicios.Factura/.vs
Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.Api/bin
Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.Api/obj
Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.Api/Atraccion.Microservicios.Factura.Api.csproj.user
Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.Api/Atraccion.Microservicios.Factura.Api.http

Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.Business/bin
Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.Business/obj

Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.DataAccess/bin
Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.DataAccess/obj

Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.DataManagement/bin
Atraccion.Microservicios.Factura/Atraccion.Microservicios.Factura.DataManagement/obj

Atraccion.Microservicios.MiddlewareBus/.vs
Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.Api/bin
Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.Api/obj
Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.Api/Atraccion.Microservicios.MiddlewareBus.Api.csproj.user
Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.Api/Atraccion.Microservicios.MiddlewareBus.Api.http

Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.Business/bin
Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.Business/obj

Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.DataAccess/bin
Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.DataAccess/obj

Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.DataManagement/bin
Atraccion.Microservicios.MiddlewareBus/Atraccion.Microservicios.MiddlewareBus.DataManagement/obj



Atraccion.Microservicios.Reserva/.vs
Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.Api/bin
Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.Api/obj
Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.Api/Atraccion.Microservicios.Reserva.Api.csproj.user
Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.Api/Atraccion.Microservicios.Reserva.Api.http

Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.Business/bin
Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.Business/obj

Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.DataAccess/bin
Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.DataAccess/obj

Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.DataManagement/bin
Atraccion.Microservicios.Reserva/Atraccion.Microservicios.Reserva.DataManagement/obj